		<div id="footer" class="">
			<div class="container">
	    		<div class="top-left"><img src="../images/cv-logo.png" alt="Citi logo"></div>
	    		<div class="bottom-right">
	    			<ul class="footer-list">
	    				<li><a href="#">News</a></li>
	    				<li class="middle-list"><a href="#">Privacy Policy</a></li>
	    				<li><a href="#">Terms & Conditions</a></li>
	    			</ul>
	    			<div class="social-img"><a href="#"><img src="../images/twitter.png" alt="Twitter"></a></div> 
	    		</div>
	    	</div>
	    </div>
	</body>
</html > 